<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sns.user.dao.UserDAO">
 	<!-- 아이디 중복 -->
 	<select id="existLoginId" resultType="boolean" parameterType="String">
 		SELECT
 			COUNT(*)
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 	</select>
 	
 	<!-- 회원가입 -->
 	<insert id="insertUserSignupByLoginIdPasswordNameEmail" parameterType="map">
 		INSERT INTO `user`
 		(
 			`loginId`
			,`password`
			,`name`
			,`email`
			,`createdAt`
			,`updatedAt`
 		)
 		VALUES
 		(
 			#{loginId}
 			,#{password}
 			,#{name}
 			,#{email}
 			,NOW()
 			,NOW()
 		)
 	</insert>
 	
 	<!-- 비밀번호 찾기 -->
 	<select id="findPasswordByIdNameEmail" resultType="boolean" parameterType="String">
 		SELECT
 			COUNT(*)
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 			AND `email` = #{email}
 	</select>
 	
 	<!-- 로그인 -->
 	<select id="selectUserByLoginIdPassword" resultType="com.sns.user.model.User" parameterType="map">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`profileImgPath`
			,`statusMessage`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`loginId` = #{loginId}
			AND `password` = #{password}
 	</select>
 	
 	<!-- 회원탈퇴 (조회) -->
 	<select id="selectUserByPasswordUserId" resultType="int" parameterType="map">
 		SELECT
 			COUNT(*)
		FROM
			`user`
		WHERE
			`id` = #{userId}
			AND `password` = #{password}
 	</select>
 	
 	<!-- 회원탈퇴(삭제) -->
 	<delete id="deleteBypasswordUserId" parameterType="map">
 		DELETE FROM `user`
 		WHERE
 			`id` = #{userId}
			AND `password` = #{password}
 	</delete>
 	
 	<!-- 비밀번호 변경(조회) -->
 	
 	<!-- 아이디 중복 -->
 	<select id="selectPasswordByloginIdEmail" resultType="int" parameterType="map">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`profileImgPath`
			,`statusMessage`
			,`createdAt`
			,`updatedAt`
 		FROM
 			`user`
 		WHERE
 			`loginId` = #{loginId}
 			AND `email` = #{email}
 	</select>
 	
 	<!-- 비밀번호 변경 -->
 	<update id="updatePassword" parameterType="map">
 		UPDATE `user`
 		SET
 			`password` = #{password},
			`updatedAt` = NOW()
		where
			`loginId`  = #{loginId}
 	</update>
 	
 	<!-- 프로필 변경화면 -->
 	<select id="selectUserByUserId" resultType="com.sns.user.model.User" parameterType="int">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`profileImgPath`
			,`statusMessage`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
 	</select>
 	
 	<select id="selectUserList" resultType="com.sns.user.model.User">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`profileImgPath`
			,`statusMessage`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
 	</select>
 	
 	
 	<!-- 유저정보(개인홈페이지) -->
 	<select id="selectUserListByUserId" resultType="com.sns.user.model.User" parameterType="int">
 		SELECT
 			`id`
			,`loginId`
			,`password`
			,`name`
			,`email`
			,`profileImgPath`
			,`statusMessage`
			,`createdAt`
			,`updatedAt`
		FROM
			`user`
		WHERE
			`id` = #{userId}
 	</select>
 	
 </mapper>