@charset "UTF-8";
header{height: 70px;  background: linear-gradient(purple, 5%, pink);}
.contents{min-height: 500px;}

.box{width: 450px; min-height: 300px; }
.boxColor{background: #FAFAD2;}

.loginBox{width: 420px; min-height:250px; background: #FDF5E6;}
.joinBox{width: 420px; min-height:250px; background: #FAFAFA; box-shadow: 5px 5px 5px 2px #dcdcdc;}

.findPasswordBox{min-width: 420px; min-height:250px; background: #FAFAFA; box-shadow: 5px 5px 5px 2px #dcdcdc;}

.miniBox{width: 95px; height: 24px;}

a:hover{text-decoration: none;} 

.contents-box {width:650px;}
#writeTextArea {height:100px;}


.individualBox{height: 100px;}
.profileEditBtnBox{height: 60px}
.individualImgBox{height: 500px;}
.roundBox{width: 50px; height: 50px; border-radius: 70%;}
.mini_box{width: 130; display: table;vertical-align: middle;text-align:center;}
.imgBox{width: 216px; height: 216px;}


.postDetailBox{height: 400px;}

.edit-box {width:450px;}
.profileBox{width: 200px; height: 200px;}
.buttonBox{display: flex;
      flex-wrap: wrap;
      flex-direction: column; /*수직 정렬*/
      align-items: center;
      justify-content: center;}